VITE_APP_ENV=development
VITE_API_TIMEOUT_MS=15000

NOTION_API_BASE_URL=https://api.notion.com/v1
NOTION_API_VERSION=2022-06-28
NOTION_TOKEN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:4545/oauth/google/callback
GOOGLE_AUTH_SCOPES=openid email profile https://www.googleapis.com/auth/calendar.readonly https://www.googleapis.com/auth/gmail.readonly

APP_LOG_LEVEL=info
APP_DATA_DIR=
OBSIDIAN_DEFAULT_VAULT=
